*.o
*.dylib
a.out
.vscode/
.dart_tool
sdk-version
*snapshot*
pubspec.lock
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
primitives/primitives_library/primitives_test
structs/structs_library/structs_test

# Windows
*.obj
*.dll
*.lib
*.exe
*.exp
