# Created with package:mono_repo v2.3.0
language: dart

jobs:
  include:
    - stage: analyze
      name: "SDK: dev; PKG: ffi/hello_world; TASKS: `dartanalyzer .`"
      dart: dev
      os: linux
      env: PKGS="ffi/hello_world"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: stable; PKG: ffi/hello_world; TASKS: `dartanalyzer .`"
      dart: stable
      os: linux
      env: PKGS="ffi/hello_world"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: dev; PKG: ffi/hello_world; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: dev
      os: linux
      env: PKGS="ffi/hello_world"
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: stable; PKG: ffi/hello_world; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: stable
      os: linux
      env: PKGS="ffi/hello_world"
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: dev; PKG: ffi/primitives; TASKS: `dartanalyzer .`"
      dart: dev
      os: linux
      env: PKGS="ffi/primitives"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: stable; PKG: ffi/primitives; TASKS: `dartanalyzer .`"
      dart: stable
      os: linux
      env: PKGS="ffi/primitives"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: dev; PKG: ffi/primitives; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: dev
      os: linux
      env: PKGS="ffi/primitives"
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: stable; PKG: ffi/primitives; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: stable
      os: linux
      env: PKGS="ffi/primitives"
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: dev; PKG: ffi/structs; TASKS: `dartanalyzer .`"
      dart: dev
      os: linux
      env: PKGS="ffi/structs"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: stable; PKG: ffi/structs; TASKS: `dartanalyzer .`"
      dart: stable
      os: linux
      env: PKGS="ffi/structs"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: dev; PKG: ffi/structs; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: dev
      os: linux
      env: PKGS="ffi/structs"
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: stable; PKG: ffi/structs; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: stable
      os: linux
      env: PKGS="ffi/structs"
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: dev; PKG: ffi/system-command; TASKS: `dartanalyzer .`"
      dart: dev
      os: linux
      env: "PKGS=\"ffi/system-command\""
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: stable; PKG: ffi/system-command; TASKS: `dartanalyzer .`"
      dart: stable
      os: linux
      env: "PKGS=\"ffi/system-command\""
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: dev; PKG: ffi/system-command; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: dev
      os: linux
      env: "PKGS=\"ffi/system-command\""
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: stable; PKG: ffi/system-command; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: stable
      os: linux
      env: "PKGS=\"ffi/system-command\""
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: dev; PKG: native_app; TASKS: `dartanalyzer .`"
      dart: dev
      os: linux
      env: PKGS="native_app"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: stable; PKG: native_app; TASKS: `dartanalyzer .`"
      dart: stable
      os: linux
      env: PKGS="native_app"
      script: ./tool/travis.sh dartanalyzer
    - stage: analyze
      name: "SDK: dev; PKG: native_app; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: dev
      os: linux
      env: PKGS="native_app"
      script: ./tool/travis.sh dartfmt
    - stage: analyze
      name: "SDK: stable; PKG: native_app; TASKS: `dartfmt -n --set-exit-if-changed .`"
      dart: stable
      os: linux
      env: PKGS="native_app"
      script: ./tool/travis.sh dartfmt
    - stage: unit_test
      name: "SDK: dev; PKG: ffi/hello_world; TASKS: `pub run test`"
      dart: dev
      os: linux
      env: PKGS="ffi/hello_world"
      script: ./tool/travis.sh test
    - stage: unit_test
      name: "SDK: stable; PKG: ffi/hello_world; TASKS: `pub run test`"
      dart: stable
      os: linux
      env: PKGS="ffi/hello_world"
      script: ./tool/travis.sh test
    - stage: unit_test
      name: "SDK: dev; PKG: native_app; TASKS: `pub run test`"
      dart: dev
      os: linux
      env: PKGS="native_app"
      script: ./tool/travis.sh test
    - stage: unit_test
      name: "SDK: stable; PKG: native_app; TASKS: `pub run test`"
      dart: stable
      os: linux
      env: PKGS="native_app"
      script: ./tool/travis.sh test

stages:
  - analyze
  - unit_test

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.pub-cache"
