name: container_docker_test
on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: "0 0 * * 0"

defaults:
  run:
    shell: bash
    working-directory: server/simple

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dart: [ stable ]
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Cache Pub hosted dependencies
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:stable"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest
    - uses: dart-lang/setup-dart@fedb1266e91cf51be2fdb382869461a434b920a3
      with:
        sdk: ${{ matrix.dart }}
    - run: dart pub get
    - run: tool/docker_test_script.sh
