name: container_docker_test
on:
  push:
    branches:
    - master
  pull_request:
  schedule:
  - cron: "0 0 * * 0"

defaults:
  run:
    shell: bash
    working-directory: server/simple

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dart: [ stable ]
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
    - name: Cache Pub hosted dependencies
      uses: actions/cache@627f0f41f6904a5b1efbaed9f96d9eb58e92e920
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:stable"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest
    - uses: dart-lang/setup-dart@a57a6c04cf7d4840e88432aad6281d1e125f0d46
      with:
        sdk: ${{ matrix.dart }}
    - run: dart pub get
    - run: tool/docker_test_script.sh
