name: container_docker_test
on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: "0 0 * * 0"

defaults:
  run:
    shell: bash
    working-directory: server/simple

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dart: [ stable ]
    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
    - name: Cache Pub hosted dependencies
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:stable"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest
    - uses: dart-lang/setup-dart@f0ead981b4d9a35b37f30d36160575d60931ec30
      with:
        sdk: ${{ matrix.dart }}
    - run: dart pub get
    - run: tool/docker_test_script.sh
